<%- include('header.html') %>

<h1>Products</h1>
<p>User ID: <%= session.userId %></p>

<%if(!session.userId) {%>
<p><a href="/login">Login</a> to access your products</p>
<% } else {%>
<ul>
  <% products.forEach(product => { %>
  <li>
    <h3><%= product.name %></h3>
    <p><strong>Price:</strong> <%= product.price %>€</p>
    <img src="<%= product.image ? `/productImages/${product.image}` :
    "https://placehold.co/200" %>" height="200" alt="<%= product.name %>" />
    <p><strong>Tags:</strong> <%= product.tags.join(", "); %></p>
    <div class="trashIcon">
      <a href="/products/delete/<%= product._id %> ">
        <i class="bi bi-trash3"></i>
      </a>
    </div>
  </li>
  <% }) %>
</ul>
<% } %> <%- include('footer.html') %>
