<%- include('header.html') %>

<h1><%=__("Login")%></h1>
<form method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"
      ><%=__("Email address")%></label
    >
    <input
      type="email"
      value="<%= email %>"
      name="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      required
    />
    <div id="emailHelp" class="form-text">
      <%=__("We'll never share your email with anyone else.")%>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"
      ><%=__("Password")%></label
    >
    <input
      type="password"
      name="password"
      class="form-control"
      id="exampleInputPassword1"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary" id="loginButton">
    <%=__("Login")%>
  </button>
  <p><%= error %></p>
</form>

<%- include('footer.html') %>
