<%- include('header.html') %>

<h1><%=__("New Product")%></h1>

<form method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"><%=__("Name")%></label>
    <input
      type="text"
      name="name"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      required
    />
  </div>

  <div class="mb-3">
    <label for="exampleInputPrice" class="form-label"><%=__("Price")%></label>
    <input
      type="number"
      name="price"
      class="form-control"
      id="exampleInputPrice"
      required
    />
  </div>

  <div class="mb-3">
    <label for="exampleInputImageFile" class="form-label"
      ><%=__("Image")%></label
    >
    <input
      type="file"
      name="image"
      class="form-control"
      id="exampleInputImageFile"
    />
  </div>

  <div class="mb-3" id="tags">
    <label class="frorm-label" for="tags"><%=__("Tags")%></label>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="tagWork"
        name="work"
      />
      <label class="form-check-label" for="tagWork"> work </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="tagLifestyle"
        name="lifestyle"
      />
      <label class="form-check-label" for="tagLifestyle"> lifestyle </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="tagMotor"
        name="motor"
      />
      <label class="form-check-label" for="tagMotor"> motor </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="tagMobile"
        name="mobile"
      />
      <label class="form-check-label" for="tagMobile"> mobile </label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" id="createButton">
    <%=__("Create new product")%>
  </button>
</form>

<%- include('footer.html') %>
